<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% url 'artists:index' as url %}
    <li role="presentation"{% if request.path == url %} class="active"{% endif %}>
      <a href="{{url}}">
        Browse Artists
        <span class="glyphicon glyphicon-music"></span>
      </a>
    </li>
    {% url 'artists:new' as url %}
    <li role="presentation"{% if request.path == url %} class="active"{% endif %}>
      <a href="{{url}}">
        Add Artist
        <span class="glyphicon glyphicon-plus"></span>
      </a>
    </li>
  </ul>

</div>