{% extends "artists/base.html" %}

{% block content %}
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#browse-artists" data-toggle="tab">
        Browse Artists
      </a>
    </li>
    <li role="presentation">
      <a href="#add-artists" role="tab" data-toggle="tab">
        Add Artists
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="browse-artists">
      {% include "artists/_add_artists.html" %}
    </div>
    <div role="tabpanel" class="tab-pane" id="add-artists">
      qqq
    </div>
  </div>

</div>
{% endblock %}